/* src/styles/fonts.css */

/* IBM Plex Sans - Regular */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-regular.woff2') format('woff2'); 
}

/* IBM Plex Sans - Medium */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-500.woff2') format('woff2'); 
}

/* IBM Plex Sans - Bold */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('../assets/fonts/ibm-plex-sans-700.woff2') format('woff2'); 
}